# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

 List popular languages for Data Science
 * Python
 * Julia
 * SQL
 * Scala
 * C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Matplotlib

Data Science Tools|
-
Jupiter|
Apache Zeppelin|
RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f'{minutes} minutes is {hours:.2f} hours')

200 minutes is 3.33 hours

## Author
Igor Sychov